$font-base: "Poppins", serif;
$font-alt: "Roboto", sans-serif;

$color-golden: #347928;
$color-black: #FFFBE6;
$color-light-black: #070707;
$color-gray: #347928;
$color-dark-gray: #202020;
$color-crimson: #f5efdb;
$color-grey: #aaaaaa;
$color-white: #347928;

$transition: all 0.3s linear;
$spacing: 0.1rem;
$radius: 0.5rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$max-width: 1170px;
$fixed-width: 620px;